<head>
<meta charset="utf-8" />
<meta name="author" content="{{ .Site.Author.name }}" />
<meta name="description" content="{{ .Site.Params.meta.description }}" />
<meta name="keywords" content="{{ .Site.Params.meta.keywords }}" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
{{ hugo.Generator }}

<link rel="canonical" href="{{ .Permalink }}">
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/google_news.html" . }}
{{ template "_internal/schema.html" . }}

<link rel="stylesheet" href="/css/layout.css" />

{{ if isset .Site.Params "theme_colors" }}
<link rel="stylesheet" href="/css/{{ .Site.Params.theme_colors }}.css" />
{{ else }}
<link rel="stylesheet" href="/css/default-dark.css" />
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

<title>
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ if eq $url "/" }}
    {{ .Site.Title }}
{{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
{{ end }}
</title>

<script data-goatcounter="https://nationpigeon.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

</head>
